[2018-09-19 18:51] dylanesque commented on #751
So, it turns out that you can hide a column pretty easily in Google Sheets. If all users that we *don't* want to see timestamps don't have write access, this should be pretty airtight,

[2018-09-20 01:49] knod commented on #751
Hmm, that's a simple solution visually, but can the data for that still be found?

[2018-09-20 16:48] knod commented on #734
As per discussions: @justinqtaylor's going to draft up what a google sheet would look like to contain this data and we'll discuss how that can be pulled in later. @justinqtaylor : Remember that the data might be different for different states.

[2018-09-20 16:53] knod commented on #762
Or, as suggested by @ethanbb - 'Child support you pay'.

[2018-09-20 16:54] knod commented on #762
Takes over and closes #723

[2018-09-20 16:55] knod commented on #723
Taken over by #762

[2018-09-20 16:55] #723 closed

[2018-09-20 16:57] knod commented on #761
One option is to have a red modal open that offers two choices (radio buttons). One says, 'I can count on what this tool tells me' and the other says 'I **can't** count on what this tool tells me'. Until they've selected the right one, the 'Next' button won't be enabled.

[2018-09-20 16:59] knod commented on #763
@2001zhaozhao : I've got a demo going for this right now, but it'd be awesome for us both to develop it separately and see what we each come up with. If you don't want to do that, that's ok as well. Let me know!

[2018-09-20 17:02] knod commented on #764
We also mentioned that this would just show up when a cliff occurred, but maybe it should always be shown. I mean, when would that information ever not be useful?

[2018-09-20 17:04] knod commented on #764
Also, I've put out feelers to Kristin about this.

[2018-09-20 17:08] knod opened #771 "Find and display the end of a cliff"
Instead of expecting the user to experiment with income amounts, show them when the cliff ends. This could be in the text results, but also maybe the table and the bar graph.

[2018-09-20 17:29] knod commented on #734
#771 takes over this one.

[2018-09-20 17:29] #734 closed

[2018-09-20 17:30] knod commented on #767
#734 has some ideas of how to accomplish this technically.

[2018-09-21 01:14] dylanesque commented on #751
Yes, but only by users with edit privileges only. Hard to say for certain since the official docs seem.....non-existent?

[2018-09-21 11:06] knod commented on #751
Can the page be scraped for that information?

[2018-09-21 11:18] knod commented on #763
Also, my bad for not mentioning that in this issue.

[2018-09-21 13:43] knod opened #776 "Fix redirect not happening automatically"
### Replicate:
1. Go to a **deployed** version of the app

### Result I'd Expect:
- You get redirected to the home page

### Actual Result:
- You stay on the redirect page and have to click the link

### Environment:
Operating system and version:  OSX v10.11.6
Browser type and version: Chrome v68.0.3440.106

App version or commit id at the time: 028f2d80beb92dc4ba9a1a5ad64b4674de609562

### Other

[2018-09-21 14:18] ethanbb commented on #776
Just a note, my guess is this was done to make working on the redirect page design easier. But since we don't want to break it on `dev`, the redirect functionality should be restored when a PR isn't "WIP" anymore.

[2018-09-21 15:14] dylanesque commented on #751
Possibly. Does this information end up on the sheet automatically? I feel like if the information creates that much of a liability, it shouldn't be there period.

[2018-09-21 15:49] knod commented on #751
It does end up there automatically. Google does it.

[2018-09-21 15:50] knod commented on #776
@dylanesque : Do have the time and energy to restore it?

[2018-09-21 16:14] ethanbb commented on #751
Honestly, perfect security isn't possible. I looked at the console on Google Sheets for a few minutes and as far as I can tell, it's pretty opaque - might be possible to extract data through there but it's not clear how. Maybe there's an easier way to see data that's been hidden without editing. But at some point I feel we have to ask what type of "attacker" we're really protecting against.

The b

[2018-09-21 17:31] knod commented on #751
Even with the column hidden, that is.

[2018-09-21 17:44] ethanbb commented on #751
Hm, I see one timestamp as part of what looks like a description of the sheet for previews or something, but it cuts off after just a little bit of the first client data structure. This was by doing a Ctrl-F for "2018". Is that what you found or did I miss something?

[2018-09-21 17:51] knod commented on #751
No, not that. It's in places like this:
[code]
That number is a legacy timestamp created from a bug in Lotus way, way back. It's the number of days since Dec 30, 1899. https://stackoverflow.com/a/3963650

[2018-09-21 17:58] knod commented on #751
If you want, you can put some nonsense word in a column, hide it, and then search for that.

[2018-09-21 18:11] dylanesque commented on #776
What's the ideal fix, just to make a PR with the redirecting code uncommented?

[2018-09-21 18:19] knod commented on #776
Yeah, that could work.

[2018-09-21 19:05] knod opened #778 "Dynamically remove the need for version numbers in the code"
That would mean that coders wouldn't have to update all the code whenever a version number changed (that kind of move could be an epic pain).

The idea would be to use 'interpolation.js' to strip the version number. This is the summation of the discussion of the idea:

1. New people looking at the code might say to themselves, 'Wait, the version numbers are gone. Something must be wrong. I'll add

[2018-09-21 19:05] knod commented on #778
If someone else is really excited to take this on, let me know and I'll back off.

[2018-09-21 19:06] knod commented on #778
Oh, that conversation involved @ethanbb , @pporfilio , @dylanesque , and maybe another person? I feel like there might have been another person.

[2018-09-21 19:28] knod commented on #763
This was previously #687, but I'm closing that one down. @2001zhaozhao , you may want to take a look at that one.

[2018-09-21 19:28] knod commented on #687
Taken over by #763.

[2018-09-21 19:28] #687 closed

[2018-09-21 19:53] ethanbb commented on #751
Whoa OK, that's pretty wild! I guess it makes sense that it would store dates relative to some epoch rather than in human-readable form though.

[2018-09-21 19:56] knod commented on #778
Y'know what, I don't remember who was in on the convo at all. Maybe @justinqtaylor? I have no idea. What's important is that I respect you all equally.

[2018-09-22 04:40] ethanbb commented on #286
@dylanesque I would lean toward **yes**, let's pull out all the inline styles. There may be only 1 or 2 per file, but I just took a look and there are still a significant number in total. It would be really nice to have them all in one place, so it's easier to look at the styles in the app as a whole and simplify things and/or refactor if we feel the inclination.

That being said, if you're gettin

[2018-09-22 18:14] dylanesque commented on #286
No, it's no trouble at all. I'll ping you guys if I happen to get tired of this, but I'm nowhere near that point.

[2018-09-22 21:25] knod opened #784 "Abstract benefit calculations so all chart things are getting them the same way"

[2018-09-23 05:47] #778 closed

[2018-09-23 23:33] ethanbb commented on #784
When looking through PR #785, I had some misgivings about the way we're reusing the `future` client object for each hypothetical income when constructing the stacked area or line graph. I'll summarize what @knod and I were talking about here.

We recently realized that we had a bug in our calculation of SNAP benefits when Section 8 benefits also applied. (@knod correct me if I get the details wron

[2018-09-25 14:59] jlangevin opened #792 ""Current Benefits" step - can't change radios back to "No""
### Images:

### Replicate:
1. From home page, click Get Started button
2. On Current Benefits step, change either radio (Do you have Section 8 Housing? or Do you have SNAP?") to "Yes".
3. Now try to change radio back to "No".

### Result I'd Expect:
- Radio should change back to "No"

### Actual Result:
- Radio stays set to "Yes"

### Environment:
Operating system and version: OSX 10.13.6
Browser

[2018-09-25 16:40] ethanbb commented on #792
Confirmed on Windows Chrome 69 (dev branch) :(

[2018-09-25 16:44] knod commented on #792
Me too/similar. Dagnabit. Well, the deployed version is still ok at least.

[2018-09-26 01:12] dylanesque commented on #686
Looks like there hasn't been any discussion on this in a while. I don't think default age is a good way to go here. Operator error could really throw off results with a feature like this.

[2018-09-26 12:39] knod commented on #686
@dylanesque: Ok, good input. It would take some discussion, though, as that change would need a pretty big system overhaul. Could you add it as an item the next time the alert system pipes up?

[2018-09-26 12:40] knod commented on #762
This has been re-opened by the reversion.

[2018-09-27 19:39] knod commented on #483
I think this was a code-style guide

[2018-09-27 19:40] knod commented on #483
There's still a little to discuss and write, despite the fact that we have linting which takes care of a lot of things.

[2018-09-27 19:45] knod commented on #784
Closed by #785 unless someone else has some more notes. If I'm not mistaken, folks discussing this seemed to have come to the conclusion that the last paragraph is correct. Not sure how to express this clearly yet, so not sure what to put on the wiki :/

[2018-09-27 19:45] #784 closed

[2018-09-27 19:47] knod commented on #784
Still worth thinking about. Should we make a new issue? One including the idea to make some requirements in the code? It seems to me that any requirements that would be in the code would make things less maintainable, but maybe we can figure something out.

[2018-09-27 19:48] knod commented on #764
Kristin just said that there weren't any really useful search terms and to search for social services in your area was your best bet :/

[2018-09-27 19:49] knod commented on #764
When I tried to search it was pretty fruitless.

[2018-09-27 20:02] knod commented on #648
Fixed by #800

[2018-09-27 20:02] #648 closed

[2018-09-30 12:12] knod opened #809 "Buttons are too nested"
You have to dig pretty hard to figure out where buttons are being created, especially the form's bottom row buttons. They need to be brought closer to the surface.

Sorry to all the folks who I sent on a fruitless mission after the 'New Client' button!

I've made a couple of PRs with two very similar ways of handling the situation: #807 and #808. It'd be awesome to see any more ideas folks have.

[2018-10-01 01:30] knod opened #812 "Yes/No radio button tests"
I think probably focusing on `<ControlledRadioYesNo>` in src/forms/inputs.js would be a good idea.

[2018-10-02 12:31] knod opened #816 "Some accessibility items"
Some accessibility items that need addressing:
- [ ] More contrast needed for hover and other interactions, including:
   - [ ] General nav bar
   - [ ] Form section nav bar
   - [ ] Spouse vs. other member drop down in 'Household' form section
- [ ] More visible `:focus` styling.
- [ ] Income inputs are waaaaaay too much to tab through. We need to figure out something with arrow buttons... someho

[2018-10-02 13:00] knod commented on #816
I'm doing some work on the focus visibility part. Either this issue can be for multiple people, or we can break it into individual issues (possibly as folks come along and are interested in moving it forward).

[2018-10-02 20:59] dylanesque commented on #816
I'll start looking for contrast issues and knock those out.

[2018-10-02 21:25] knod opened #821 "Clean out useless jsdoc comments"
In:
- [x] /components (knod)
- [x] /forms (knod)
- [x] /data
- [x] /programs
- [x] /utils
- [x] Any others

[knod, 10/23/18: I think the are done at this point, though I'm not sure. I'm pretty sure /utils hasn't been worked on.]

[2018-10-04 17:43] jlangevin commented on #761
I'm not liking the idea of having a radio button that basically does nothing.  Usually sites will have something like two buttons - accept/okay allows them to continue and decline/no redirects them somewhere else.

Alternatively, a checkbox is used with a label like [ ] I understand... and checking the box triggers display of a Continue button which closes the dialog.

[2018-10-04 17:48] knod commented on #761
Hmm, I understand the convention, but I think this is a case where I'd prefer to break the convention in order to get people to actually pause and pay attention. I don't want people thinking, 'Ok, this is the usual thing where this app uselessly asks for my permission to share my data or whatever' because that's not at all what this is. We want the user to understand a completely different thing.

[2018-10-04 18:57] jlangevin commented on #761
Okay I've drastically simplified what the modal says and switched to radios as you've suggested.  However, it still bothers me that they affirm a negative statement "I can't trust..." to proceed.  So I used a positive "I understand that..."  We could change the instructions at the top to something like "Please indicate below that you understand..."

[2018-10-04 19:08] knod commented on #761
I'll try to ping you for a real-time convo to discuss the details. Maybe I have the wrong end of the stick. It might be worth a group discussion.

[2018-10-05 02:31] knod commented on #761
What I meant to say is that I wanted to check in and see if we were having a difference of a opinion that I feel everyone has a right to express. I just find those easier in real-time.

[2018-10-05 12:29] knod commented on #809
Closed by #808

[2018-10-05 12:29] #809 closed

[2018-10-06 02:15] #763 closed

[2018-10-06 02:15] #764 closed

[2018-10-06 02:15] #771 closed

[2018-10-07 12:01] knod opened #841 "Home buttons get double focus"
### Replicate:
1. Use 'tab' to navigate the Home Page with the keyboard

### Result I'd Expect:
- It would take one 'tab' key press to navigate away from a button

### Actual Result:
- You have to press 'tab' two times

### Environment:
Operating system and version:
Browser type and version:

App version or commit id at the time: a83dc1d1ffff664ed2b4d55020bd7a3d0bc6e965

### Other Notes
Those butt

[2018-10-07 12:08] knod opened #842 "Button colors don't change on keyboard focus"
### Replicate:
1. Use keyboard navigation to tab to neutral-colored buttons

### Result I'd Expect:
- Either the buttons would look like they were being hovered over or the buttons would look like they've been selected.

### Actual Result:
- No change in style

### Environment:
App version or commit id at the time: a83dc1d1ffff664ed2b4d55020bd7a3d0bc6e965

### Other Notes
Needed for:
- [ ] Home pa

[2018-10-07 12:23] knod opened #844 "Add option to print text summary"

[2018-10-07 17:35] #841 closed

[2018-10-08 12:49] knod commented on #816
Do labels need to have a `for` attribute that'll connect them to their ui element in order to be read properly by a screen reader?

[2018-10-08 20:31] knod opened #847 "Bring back Predictions section snapshot"
It was just a few commits ago.

[2018-10-09 00:38] jlangevin opened #848 "Add toggle to DevHud for predictions warning"
Add 'off' switch to dev hud.  "Maybe we can put an 'off' switch for it in DevSwitch temporarily?"

[2018-10-09 01:51] knod commented on #848
Yeah, maybe something that can work even when the dev hud is off so that we can do presentations with the app both without the warning showing and without the dev hud showing.

[2018-10-09 02:02] jlangevin commented on #848
Yup, since there's no admin for the app, the toggle will like in DevHud, but the flag will not be tied to DevHud on/off state, it'll live in app state so it's persisted whether DevHud is on or off.

[2018-10-09 12:23] knod opened #851 "Fix result text summary has duplicate keys in React"
### Images:

### Replicate:
1. Create a cliff
2. Go to the Predictions page

### Result I'd Expect:
- No errors in the console

### Actual Result:
- Errors in the console about duplicate keys in an array of elements. Doesn't break the page, but still not ideal. Example: 'Encountered two children with the same key, `en236`'

### Environment:
App version or commit id at the time: 943b9fd4a8cdc8d2463

[2018-10-09 12:41] knod commented on #545
iirc folks agreed that this format would be best when we get a chance.

[2018-10-09 23:50] dylanesque commented on #816
**"Whenever possible, use the label element to associate text with form elements explicitly. The for attribute of the label must exactly match the id of the form control."**, from the W3C Accessibility Tutorial, so yes, we absolutely should be using the ```for``` attribute.

[2018-10-09 23:53] dylanesque opened #852 "Improve Color Contrast on Selected Site Elements"
More contrast needed for hover and other interactions, including:
 - [x] General nav bar
- [x] Form section nav bar
- [x] Spouse vs. other member drop down in 'Household' form section

[2018-10-10 00:11] rob111 opened #853 "Restrict access to next step in the navigation bar."
Restrict an access to next step in the navigation bar if user didn't change or enter his own data.
Right now you can skip steps by clicking in navigation bar and get results without entering any data.

[2018-10-10 00:18] 2001zhaozhao commented on #852
For the general nav bar we can darken the entire text area on hover.

For the form section nav bar we can darken non-selected items more on hover, making it darker than the currently selected one. We might also change the text color of the currently selected item so that it is dark green and stands out more from the black color of the other items.

For the family member dropdown menu, the currentl

[2018-10-10 00:28] 2001zhaozhao commented on #842
Microsoft Edge seems to add a very visible edge to selected elements, both when tab-selecting and when navigating with a mouse.
![capture](https://user-images.githubusercontent.com/15002454/46706255-87317880-cc01-11e8-94a8-2a069bb7a6c3.JPG)

Another note: the orange "New Client" button on the left still does not have a tab-focus color. Also, focusing on textboxes and checkboxes is barely visible.

[2018-10-10 00:55] dylanesque commented on #852
Those are definitely good suggestions, I'll get started with these tomorrow.

[2018-10-10 01:01] 2001zhaozhao commented on #842
It seems like focus highlighting is largely a browser thing.
Here's how selecting a Github button with TAB looks like in Chrome:
![capture](https://user-images.githubusercontent.com/15002454/46707099-661f5680-cc06-11e8-8358-fc706e64ed12.JPG)
Here's the same button in Edge:
![capture2](https://user-images.githubusercontent.com/15002454/46707111-759e9f80-cc06-11e8-8c42-9d379d7af2ac.JPG)

[2018-10-10 02:03] 2001zhaozhao commented on #851
Seems like getting rid of the JSX constructs and opting for a more traditional string joining method gets rid of the error.
For now, I couldn't get everything to work using string joining (the snippet strings were all displaying as [object Object]), so maybe I'll get back to this later, or someone else can work on it.

[2018-10-10 13:09] knod commented on #761
Closed by #831

[2018-10-10 13:09] #761 closed

[2018-10-10 13:11] knod opened #856 "Fix package-lock.json issues by removing carats from dependencies"

[2018-10-10 16:30] knod commented on #851
The keys for the snippets are created when the snippets are interpolated. So the `i_period` snippet has the same key, no matter where you put it. So if it appears in one array multiple times, that could be a problem. I'm not sure of a way around this. Possibly wrapping those individual items in another span with a unique key? Having each snippet be a class with a getter that creates the unique key

[2018-10-10 23:02] 2001zhaozhao commented on #853
How about instead of just making it impossible to skip ahead, replace the "next" button with a "i'm done" button, and add a warning on the top of the result screen that warns you if you did not click "i'm done" in any section?

[2018-10-11 10:48] knod commented on #853
I really like this idea! We could also have a small orange dot in the nav bar next to the items that aren't done yet.

Is there some wording we can use that won't make the user think, 'Oh no, I won't be able to come back here to fix things afterwards.' The word 'done' might be a bit confusing.

[2018-10-11 11:29] knod commented on #842
@2001zhaozhao - Some followup questions:

If it's showing up in Edge, it should be showing up in Chrome. Have you tried opening a private window in Chrome and looking at the dev version? Sometimes I can't get Chrome to properly delete cache and the new changes don't show themselves.

Do you mean it doesn't get a focus outline? If so, that's very strange because my version on 'dev' does.

What show

[2018-10-12 05:04] ethanbb commented on #853
Idk, that seems like sending mixed messages. How would we simultaneously communicate "you should make sure you didn't miss anything on this page" and "you can come back if you need to"? It's kind of subtle. Maybe the button could say "Done" but have something that pops up when you hover that says, "Don't worry, you can make changes later if you made a mistake"? Or something similar.

[2018-10-12 09:20] knod commented on #853
Hmm, I'll have to think about it. 'Ready'? If we're using 'Done', maybe the 'Done' button can be replaced by the 'you can make changes' text after it's clicked... not sure.

[2018-10-12 22:30] knod opened #860 "Clicking 'esc' should trigger 'Cancel' on choices (like modals) while preserving the contents of the modal text boxes if needed"
### Replicate:
1. Click 'Submit Feedback'
2. Press 'esc'

### Result I'd Expect:
- Modal would close

### Actual Result:
- Nothing happens

### Environment:
App version or commit id at the time: e447ea49367050f62f8acd639cb0f3ecb0b14b9d

### Other Notes

[2018-10-13 18:16] #856 closed

[2018-10-13 19:41] knod opened #866 "Clarify Predictions section"
With the help of a moonlighting member, we've have identified a few specific problems in the Predictions section that we can try to work on.

1. Things are a bit out of order. The summary for the given information is only presented after asking for information about the future.
1. The input asks for future income as opposed to asking about the amount of a raise.
1. (No great solution yet) We want

[2018-10-14 00:51] knod opened #868 "Last section 'New Client' text has disappeared."
### Replicate:
1. Go to Predictions section
2. Click 'New Client'

### Result I'd Expect:
- See a modal with text in it.

### Actual Result:
- See a modal without text in it, though it has buttons.

### Environment:
App version or commit id at the time: ebadf95e8cc17c482d8e1d803d59786237f12833

### Other Notes
I've got it, but I messed with the wording too. Goramit. Maybe I can pull that out of th

[2018-10-14 12:46] knod opened #873 "Put 'GitHub' link in menu explicitly"
Sorry folks, realized this last night - we don't have 'GitHub' written out in the menu anywhere and that's what folks generally look for to find the repos of projects. I think we may have avoided that before because our situation was ambiguous, but that's not a problem anymore.

[2018-10-14 13:02] knod opened #875 "Change references to organizations"
Shoot folks, we need to change references of CSP and Project Hope from partners to former partners/whatever - in the README, the announcement, and the About page. May need to think about wording for this.

- [x] README
- [x] About page (knod)
- [x] CfB announcement wiki page [_Note: 2 pages now exist. One for jumper, one for instigator._]

[2018-10-14 13:15] knod commented on #875
Shoot, and the announcement slide too. Hmm, there's a way for one of us to change that...
- [x] CfB announcement slide

[2018-10-14 14:00] knod commented on #875
- [x] Aaaaand the CfB webpage 😝 (knod in progress)

Why are those different things?

[2018-10-14 14:42] jlangevin commented on #527
This has been addresses with the addition of the Localization Report in DevHud.  If changes are identified, new issues can be opened.

[2018-10-14 14:42] #527 closed

[2018-10-16 02:01] ethanbb commented on #860
So we can change this, but I want to note that I did this intentionally for the feedback modal to make it less likely that someone would accidentally lose what they've typed by pressing escape. Maybe if we can get the text boxes to keep their content when the modal is closed and reopened, that would be a better solution, though.

[2018-10-16 12:28] knod commented on #860
Hmm, that's an interesting point. Dang. I think I remember this conversation. It unfortunately makes the page less accessible. Another option is a regular old prompt that requires an extra confirmation, but that sounds like overkill. I dunno, I'm open to whatever.

[2018-10-16 16:04] #873 closed, assigned to knod

[2018-10-16 16:40] knod commented on #324
This will never be complete! So removing it from mvp milestone.

[2018-10-16 16:42] knod commented on #45
These goals were not achieved for the MVP, but it was deemed acceptable. We will have to create a new target and a new deadline once we have access to subject matter experts.

[2018-10-16 19:11] dylanesque commented on #852
An update, since this is moving slowly. I'm having trouble finding where to modify the active state needed to tweak the styles on the second item on this list. I was able to find the component it emanates from, but not the code that modifies it, which leads me to believe it's a semantic-ui-react thing. I'll have to dig through those docs.

[2018-10-16 19:55] knod commented on #852
@dylanesque : What I do is examine selectors in the inspector and use those in the css file. There's a way to trigger the hover state in that interface so you can see those styles working.

[2018-10-16 20:05] dylanesque commented on #852
I can swing that. I might have to use !important or some other hacky technique, which I don't love, but it feel like the only options sometimes.

[2018-10-16 20:07] knod commented on #852
If we run across the need for !important, we can discuss our options.

[2018-10-17 00:10] dylanesque commented on #852
Figured out the targetting problem, will need more time to figure out a solution that doesn't involve !important. For my own reference, the color to slot in is #dcddde

[2018-10-17 14:47] dylanesque commented on #875
Something like this? Do we need to erase references to Project Hope entirely?

"We are building the Cliff Effects webapp to help* Project Hope case managers make quantifiable predictions about their clients' potential cliff effects - and advise their clients accordingly." --> "The Cliff effects webapp was originally conceived as a tool to help* Project Hope case managers make quantifiable predicti

[2018-10-17 15:16] knod commented on #875
Exactly - we want to switch from referring to them as current partners to referring to them as previous partners, etc. We may want to work on 'plain language' a bit more.

[2018-10-17 15:18] knod commented on #875
@dylanesque : It'd be great to have your notes from the readme (about page?) PR in here too.

[2018-10-18 18:12] #868 closed, assigned to knod

[2018-10-20 02:54] dylanesque commented on #852
Closing this issue because of the requested changes are in place, and just the the specific colors signed off on.

[2018-10-20 02:59] dylanesque commented on #851
Do we know for certain what line number/component this emanates from?

[2018-10-20 11:50] knod commented on #852
Sorry, our bad if there was miscommunication. We wait till PRs are merged before closing issues, partly because of the nature of this volunteer work.

[2018-10-20 11:50] knod commented on #852
You can close it in your PR title though, as described in https://github.com/codeforboston/cliff-effects/wiki/Guide:-PR-Excellence!

[2018-10-21 11:04] knod commented on #851
From what I've examined, everywhere `i_period' and 'i_beforeMoney' are used multiple times in the same paragraph are the problem. This was my fix for the conference:
[code]

[2018-10-22 10:54] knod opened #885 "Travis tests failing"
This must've come along when the main menu was edited to add snippets, but I'm surprised Travis didn't fail at that time. Regardless, `MainMenu` and `Header` are failing now.

[2018-10-23 21:24] knod opened #887 "Make calculations US State-specific"
Abstract data for calculations so that it can be specific to each US State.

This doesn't include abstracting federal regulations. We need an SME for that.

[2018-10-24 00:07] #885 closed, assigned to knod

[2018-10-24 00:59] #742 closed

[2018-10-24 10:55] #887 closed, assigned to knod

[2018-10-24 13:00] knod commented on #405
Killing this wishlist item. We do this as we go somewhat and will do more as it comes up, but this is no longer referred to.

[2018-10-24 13:00] #405 closed

[2018-10-24 13:03] #844 closed

[2018-10-24 14:23] knod opened #892 "Spouse/member dropdown not fully changing on selection of item"
### Replicate:
1. Go to the 'Household' section
2. Add a member
3. Click on the drop down
4. Click on 'Child/Other member'
5. Click on the drop down again
6. Click off of the drop down

### Result I'd Expect:
- 'Child/Other member' to appear as the chosen option

### Actual Result:
- 'Spouse' is the text that appears as the selected option

### Environment:

App version or commit id at the time: 0

[2018-10-24 15:15] knod opened #893 "Use `<ButtonReset>` for all 'New Client' buttons"
May require changes in other components and tests.

[2018-10-24 15:22] knod commented on #875
Finished through a series of PRs that failed to reference this issue.

[2018-10-24 15:22] #875 closed, assigned to knod

[2018-10-24 15:24] knod commented on #765
This was done in the summary text result. May need to be further refined.

[2018-10-24 15:26] knod commented on #400
We've added a text summary that explains what the changes are. It needs to be user tested, but that's a different thing.

[2018-10-24 21:36] knod opened #895 "Replace `renderIfTrue` and `<RenderIfTrue>` with our format of ternaries"
[code]
or, when shorter
[code]

[2018-10-24 22:08] knod opened #896 "Code style guide wiki page"
For stuff that can't be linted, like our ternary format, using `let` instead of `var` (I know, my bad), etc.

[2018-10-24 22:19] turnerhayes opened #897 "Add pre-commit hook to lint project"
[Husky](https://github.com/typicode/husky) is a good solution for adding git hooks; we can add a pre-commit hook that will lint, fix, and commit any changes (assuming any violations are fixable).

[2018-10-24 22:21] knod commented on #897
We're looking for something like this for now:
`"pre-commit": "npm run lint"`

[2018-10-24 22:22] turnerhayes opened #899 "Convert var to const/let"
var has some weird behaviors (hoisting to top of the function, function-scoped rather than block-scoped) that `const` and `let` avoid. Eslint has a [rule](https://eslint.org/docs/rules/no-var) to enable this, and can auto-fix it.

[2018-10-24 22:38] turnerhayes opened #900 "Remove all id selectors from CSS"
Using id selectors (`#foo`) in CSS makes dealing with selector specificity a nightmare, since any selector with an id selector in it will always override a selector without one. We can always add a class to an element and use the class in the selector instead.

Note that this will become irrelevant if we end up using CSS Modules/styled-components/CSS-in-JS.

[2018-10-24 22:43] turnerhayes opened #901 "Add `propTypes` to component definitions"
Prop types are a handy way of both adding run-time type validation and providing some documentation on the available props in the code. I believe that React disables prop type checking in production environments, so it shouldn't add any (or much) overhead in production.

[2018-10-24 22:52] knod commented on #545
Just so this issue is more searchable: We want to use Router to create a route for each form section so they become pages instead of just being sections.

[2018-10-24 22:54] turnerhayes opened #902 "Use default exports by default"
For many components, we are currently using named exports instead of default exports (e.g. `import { MyButton } from './MyButton`; rather than `import MyButton from './MyButton';`.) I feel like we should be using default exports for components, with named exports only if it needs to export additional symbols.

This is a somewhat stylistic question; thoughts? Anyone feel strongly otherwise?

[2018-10-25 00:06] knod commented on #900
Hmm, maybe I've been going about this the wrong way, but I've found classes to be really hard to work with at times to override semantic-ui-react styles. It's ended up in some pretty messy CSS.

[2018-10-25 00:13] knod commented on #902
I'd err more in the opposite direction. I feel that the more consistent we can be, the easier it is for new people getting started. Having both `import MyButton from './MyButton';` and `import { Button1, Button2 } from './Buttons';` seems like two behaviors to keep track of instead of one.

[2018-10-25 00:13] knod commented on #902
What are the pros to using default exports?

[2018-10-25 00:32] turnerhayes commented on #902
Mainly terseness, I suppose. I'm not clear why `import { Button1, Button2 } from './Buttons';` is the pattern we'd use; I'm inclined to tend towards one component (or at least one exported component) per file, so I would probably tend to use

[code]

[2018-10-25 00:33] knod commented on #902
So is this more of a conversation about one abstracted component per file?

[2018-10-25 03:03] turnerhayes commented on #902
I think that plays into it, certainly, but there are components (I believe) that only have one component in a file and still use named exports.

[2018-10-25 11:08] knod commented on #899
Just so the question is out there in the world - is discussion needed on this? I'm not sure why there'd be objections, I just know we've had other discussions about linting choices.

Personally, I think it can just go ahead. Maybe just a head's up on Slack.

[2018-10-25 11:32] knod commented on #902
Maybe we'll do some real-time talking about this and put those conclusions in here.

[2018-10-25 11:36] #893 closed, assigned to knod

[2018-10-25 14:43] #895 closed, assigned to knod

[2018-10-25 14:48] #851 closed

[2018-10-25 15:01] dylanesque commented on #900
Yeah, I've used some id's to override semantic classes, but I was rustier at using specificity to deal with those a few weeks ago. I can start working on these after I complete the last of the find and replace I've been doing with the inline styles. It also dawned on me the other day that certain dependencies like styled-components or emotion locally scope styles, resulting in far fewer necessary

[2018-10-25 15:10] #852 closed

[2018-10-25 15:13] dylanesque commented on #901
If people are on board with this, I'd like to do at least a few of these, they're not especially difficult, but I want some practice implementing them.

[2018-10-25 16:54] knod opened #907 "Official color palette"
One option that has the main color as our current theme:
_Doesn't include hover or active backgrounds_
Main colors:
`#CBF5F4`
`#5BE0DB`
`#00B5AE`
`#007974`
`#004341`
Cautions and warnings/errors:
`#FF9500`
`#FF3900`
http://paletton.com/#uid=33h0i0kw0Dl5wXSiYQ+EBoYOcdW

[2018-10-25 17:02] #897 closed, assigned to turnerhayes

[2018-10-25 17:09] knod opened #908 "pre-commit hooks: remove 'lint-staged' and carets?"
About the awesome changes merged in #904.

1. The 'lint-staged' package doesn't actually limit npm lint fixes to just staged files. It changes the files, though it doesn't add them. Considering this will be in everyone's code and all files will be linted when committed and there shouldn't be leftover files to lint, it shouldn't be a problem either way, but we might consider getting rid of 'lint-st

[2018-10-25 17:10] knod commented on #900
@dylanesque : Hold off on that till we've had some discussion about our next steps forward on this and some reasonable bounds. Also, don't remove id's in the js code itself. Some of those are being used by the js.

[2018-10-25 17:12] knod commented on #901
Remember to add these new ones as discussion items in the thread when the Alert System posts it so they don't get left behind!

[2018-10-25 17:20] knod opened #909 "Put error above input"
For those inputs that can show an error, use the `<Surrounder>` to put the error above the right input/row.

Hopefully this will help move towards a mobile-friendly experience.

[2018-10-25 19:30] turnerhayes commented on #900
I should amend my previous statement; I think having one top-level ID would be fine, so long as all selectors start with it, so that we can override third-party rules (as long as they don't use ID selectors, which they shouldn't).

So something like:

[code]

but not

[code]
or
[code]

I *believe* that should cover issues of overriding third-party styles.

[2018-10-25 19:35] knod commented on #900
I'm not sure. 'semantic-ui-react' does include some id's, so I suspect their styles sometimes use them.

Also, for some page features, id's make sense. There are styles that are unique to a particular situation and shouldn't be abstracted. The fixed menu on the left is unique, for example.  Do you mean we should remove id's that aren't being used appropriately? That is, ones that are able to be ab

[2018-10-25 23:33] turnerhayes commented on #908
1. The `lint-staged` package should be passing staged file names to `npm run lint`, which should only lint those files. Is it not doing that? Also, it should add them--that's what the [`"git add"`](https://github.com/codeforboston/cliff-effects/blob/3fc60aa860a1a750450b920d619f7fc40d507d36/package.json#L35) line is supposed to do.

2. Interesting. I do wonder if that might leave us open to missing

[2018-10-25 23:42] turnerhayes commented on #900
I don't think there's really any reason to use IDs in CSS, apart from upping the specificity for cases like overriding third party rules. The fixed menu can be styled just as easily with classes, and helps make it more portable in case we have another page (or, potentially, another app that wants to use it as a component).

It may make sense to defer decisions about this change until we're sure of

[2018-10-25 23:49] knod commented on #908
1. It was not doing that. I was in a pre-hook version that needed linting that had no file changes. When I switched to the hook version, made changes in a different file, and committed, that first file was linted too.

2. True, but then we can explicitly increment the versions. I'd rather get rid of this package-lock issue.

3. I'm not committed to either path, so maybe someone else can chime in w

[2018-10-25 23:49] turnerhayes opened #911 "Replace snapshot tests with Enzyme tests"
This definitely needs discussion, but personally, I have found snapshot tests to be generally useless at best; at my previous job, we started out using them extensively (almost exclusively), but we soon found that they didn't add value for our team; many PRs would contain large snapshot diffs and it was frequently difficult for coders/codecheckers to determine whether the changes were a problem or

[2018-10-26 00:03] turnerhayes opened #912 "Implement a Redux store"
If it ends up being too much of a barrier to new project members, we may later remove it.

Other alternatives:

- [Context API](https://reactjs.org/docs/context.html)
- [Hooks](https://reactjs.org/docs/hooks-intro.html)
  - Interesting bleeding-edge feature (currently in alpha); we'll have to see where it goes

[2018-10-26 00:58] knod commented on #911
Yeah, that lines up with what we've been discovering as well. If all it's doing is checking that the component doesn't crash, you can do a `.not.throw()` or whatever it is. @wacii was key to that discovery process.

[2018-10-27 00:14] turnerhayes opened #914 "Pass necessary props through BigButton"
As mentioned in [this comment](https://github.com/codeforboston/cliff-effects/pull/894/files#r228693203), `BigButton` needs to pass more props through to its underlying button (`onClick` at least).

[2018-10-27 01:11] turnerhayes commented on #914
FWIW, the way I've seen most libraries handle things like wrapped inputs is to pass any props that it doesn't directly use itself down to the underlying input (the way it was before); see, for example, [Material UI](https://material-ui.com/api/button-base/). That doesn't necessarily mean it's right, but it does seem to be the way a lot of people have resolved it in React world. I'm inclined to go

[2018-10-27 01:16] knod commented on #914
Part of the question is about how to pass the props down in a way that's extensible so we can pass down stuff without worrying about accounting for every single possible prop in the code of `<BigButton>`. One way goes something like this:
[code]
That way's a bit dangerous, but that's the most flexible and easiest to write for. We can pass down things like `color` and `disabled` as if we were just

[2018-10-27 01:18] knod commented on #914
Those last two comments would probably work better switched, lol. My hesitancy in passing down props is getting unintended props in there by accident which would be hard to trace, but I'm not married to any particular method.

[2018-10-27 01:24] turnerhayes commented on #914
The way I see it, `BigButton` is basically a standin for `Button`; it's not its responsibility to gate props any more than it's `Button`'s. It seems like `BigButton` should have essentially the same API as `Button` since it's not really doing anything other than setting some defaults.

[2018-10-27 02:15] knod opened #916 "More declarative way of choosing when to show a question"
If we're considering a future where more programs are added, the logic of when to show a question could get really tangled. It might be useful if we could gather each question's requirements in one place. Current thought:

[code]
Using the object, though, is a bit messy. At least, the ways I've come up with are. If needed, I'll put them in here.

[2018-10-27 02:16] knod commented on #914
Fair point!

[2018-10-27 11:43] knod opened #917 "More validation in functions that need it"

[2018-10-27 18:40] knod opened #921 "GraphTimeButtons.js improvements"
1. Strengthen names (`activeID` prop name to `timeInterval`)
2. Documentation

[2018-10-27 20:10] dylanesque commented on #916
You're on the right track, I would suggest breaking off the logic that handles the boolean test in the if statement into a variable just to make it a bit cleaner.

[2018-10-27 20:42] knod commented on #916
@dylanesque : As in this?
[code]

Also, have any ideas of how to implement the use of this object?

[2018-10-27 21:15] knod opened #923 "List of weak/unclear variable names to improve (some may need discussion)"
Include the variable name and the file path in which it appears. You can also add notes explaining yourself. Feel free to add them below or in new comments! Please don't get rid of or change something that someone else put down, though you can certainly add to the conversation surrounding it.

- [ ] 1. `activeID` GraphTimeButtons.js
- [ ] 2. `client` Everywhere. There are two `client`s. One for a

[2018-10-28 21:22] knod commented on #923
- [ ] 5. `income` - often actually should be `earnings`

or `earned`

[2018-10-30 12:14] knod opened #928 "Remove 'lint-staged' till it's clear that it's working"
What was happening before everything got linted that indicates 'lint-staged' isn't working:
1. There were files that hadn't been linted yet related to previous commits.
2. We made changes on new files.
3. We did `git commit`.
4. _All_ files were linted, even the old ones that weren't staged for commit.

[2018-10-30 12:22] knod opened #929 "package-lock.json with npm"
Removing all the carats didn't do it. How do we deal with this?

[2018-10-30 12:34] #914 closed, assigned to nobody

[2018-10-30 18:43] dylanesque commented on #929
Not sure I cross-posted the thread from Boston JS I started about Yarn/package-lock.json issues, but doing that now. Bullish on Yarn being our solution for the headache of keeping everybody's ~~npm~~ Yarn version in sync, but I seem to remember other helpful suggestions in there.

[2018-10-30 20:13] dylanesque commented on #929
One possibility is ```npm ci```: https://docs.npmjs.com/cli/ci

[2018-10-30 23:31] knod commented on #912
Since it looks like I haven't put this down in writing yet, my suggestion is we start small and see how it goes.

[2018-10-31 00:29] turnerhayes opened #931 "Use .nvmrc for node version"
As mentioned in https://github.com/codeforboston/cliff-effects/pull/824#issuecomment-433199711 we might want to use an .nvmrc file rather than piping file contents into `nvm`.

[2018-10-31 00:40] turnerhayes opened #933 "Prefer `const` over `let`"
Use `const` by default.

This is still up for discussion; opening this issue so that it doesn't get lost.

#899 talked about converting `var` to `let`; this task will change some `let`s to `const` (if they are never reassigned).

[2018-10-31 00:59] knod commented on #933
If we're using `const` to communicate, a couple other possible perspectives:
1. `const` should be used anywhere you'd use ALL_CAPS.
2. `const` should be used where you specifically don't want to change something, not just where some variable has not yet been changed.

[2018-10-31 01:06] knod commented on #616
Fixed by a `ButtonReset` PR recently

[2018-10-31 01:06] #616 closed

[2018-10-31 01:10] knod commented on #506
This is just forever. I'm not sure forever items should be an issue. Maybe something on the wiki instead.

[2018-10-31 01:10] #506 closed

[2018-10-31 12:01] knod commented on #758
@dylanesque : What did you figure out?

[2018-10-31 12:22] knod opened #936 "Change `snippets` to `translations` everywhere"
It's not quite a simple find and replace because in some places (definitely in 'Summary.js'), I've shortened `snippets` to `sn` or something for convenience. Sorry folks.

[2018-10-31 12:28] knod commented on #287
Being taken care of in #288

[2018-10-31 12:28] knod commented on #286
Being taken care of in #288

[2018-10-31 12:28] #286 closed

[2018-10-31 12:30] knod commented on #446
This is still ongoing

[2018-10-31 12:36] knod commented on #896
Duplicate of #483

[2018-10-31 12:36] #896 closed, assigned to nobody

[2018-10-31 12:43] knod commented on #547
During the most recent user testing, this didn't come up as a problem. We'll revisit it if it becomes an issue again.

[2018-10-31 12:43] #547 closed

[2018-10-31 12:47] knod commented on #549
We're trying out new text. I'm not sure whether or not it'll be more clear that it can be for both bug reports and general feedback so we'll have to see, but it's more in-line with plain language. We'll keep our eye out for something better.

[2018-10-31 12:48] knod commented on #546
We may be changing our chart lib, so we'll see what can happen with that.

[2018-10-31 12:51] #549 closed

[2018-10-31 12:54] knod commented on #555
We've added the ability to print the text summary of the results. That'll be it for now till we figure out the data storing thing.

[2018-10-31 12:54] #555 closed

[2018-10-31 12:56] knod commented on #554
I don't know why we didn't mark it as done, but it's done!

[2018-10-31 12:56] #554 closed

[2018-10-31 12:57] knod commented on #553
On hold till another phase of the project.

[2018-10-31 13:00] knod commented on #683
On hold until we can get some SMEs to explain which questions create duplication.

[2018-10-31 13:01] knod commented on #689
We'd like to look into a new chart lib to see if we can get something that has more capabilities that we're looking for.

[2018-10-31 13:03] knod commented on #686
This is part of a bigger discussion about handling default values and our data structures.

[2018-10-31 14:22] #701 closed

[2018-10-31 19:35] knod commented on #718
Switching it to be above the input some other issue/PR.

[2018-10-31 19:35] #718 closed

[2018-10-31 19:35] knod commented on #733
Think en.js got updated.

[2018-10-31 19:35] #733 closed

[2018-10-31 19:36] knod commented on #738
Just fyi, may switch to a different chart lib.

[2018-10-31 19:37] knod commented on #752
I think everything has version numbers now!

[2018-10-31 19:37] #752 closed

[2018-10-31 20:01] #909 closed, assigned to knod

[2018-10-31 21:30] dylanesque commented on #923
I combed through the files in the utils folder today. Most of it looks good or was touched upon in Michelle's comments above. One thing did stick out to me, though:

[] ```clientPartial``` from getSideEffects.js is pretty confusing.

[2018-10-31 21:32] knod commented on #923
Great find! That's actually another attempt at `timeClient` or whatever it is.

[2018-10-31 21:42] #928 closed, assigned to knod

[2018-10-31 21:57] knod opened #937 "Check for `instanceof Error`"
In 'src/utils/valueFixers.js' `isNumberlike()` change from
[code]
to
[code]

[2018-10-31 21:58] #545 closed

[2018-10-31 22:02] turnerhayes opened #938 "Unlocalized text"
## src/components/prompts/FeedbackForm/FeedbackForm.js
  - [ ] Yes and No labels
  - [ ] Cancel button text
  - [ ] Send with/without information text

## src/forms/ButtonReset.js
  - [ ] leaveText for click handler

## src/forms/cashflow.js
  - [ ] Error message when input exceeds max value

[2018-10-31 22:03] turnerhayes commented on #938
This is not exhaustive by any means; these are just cases I ran across while doing merge conflict resolutions for another task, and I thought it would be good to start to collect these in one place.

[2018-10-31 22:13] knod opened #939 "Create pause-able search for cliffs on a local machine"
If one or more of us can run a search in terminal to try to track down cliffs, specifically in SNAP, that could be useful. There would be millions of runs. We'd either need to be able to pause or to chunk it into different runs so that it doesn't have to just run forever on everyone's machine.

It'd also be nice to save the output. We could possibly use it later to test against already-existing SN

[2018-11-01 00:50] knod commented on #938
Remember you can also use the dev HUD to spot them!

[2018-11-01 00:50] knod commented on #938
I mean visually. They'll be the text not red and underlined.

[2018-11-01 00:53] knod opened #940 "Move `AboutContent` back into `AboutPage`"
`AboutContent` was a place free of other junk to put the text of the about page so it'd be easier for non-coders to edit it. Now that the content is really in snippets, move the stuff in src/components/AboutContent.js back into src/containers/AboutPage.js

[2018-11-01 11:18] knod opened #941 "Fix form bottom row buttons style"
### Images:
<img width="776" alt="buttons" src="https://user-images.githubusercontent.com/4466164/47848886-292e2600-dda6-11e8-94fa-7e0357d9ed8a.png">

It's in every section

### Environment:

App version or commit id at the time: f4e5635eede23f18b8fae66135837c2af018464e but it was introduced earlier than this

### Other Notes
I feel like pixel comparison tests would have caught this.

[2018-11-01 11:49] knod opened #943 "Move 'constants.js' to more specific location"
From https://github.com/codeforboston/cliff-effects/pull/922#pullrequestreview-169101048

[2018-11-01 12:03] knod opened #945 "Resolve/clean VisitPage questions a bit"
Specifically things in:
- [x] 1. https://github.com/codeforboston/cliff-effects/pull/922#pullrequestreview-169109576 (use step.key)
- [x] 2. https://github.com/codeforboston/cliff-effects/pull/922#pullrequestreview-169109728 (`currentStep` attr needed?)
- [x] 3. https://github.com/codeforboston/cliff-effects/pull/922#pullrequestreview-169109853 (give component to itself?)
- [x] 4. https://github.c

[2018-11-01 12:06] knod opened #946 "Examine how blocking is happening in src/components/prompts/ReactRouterLeaveListener.js"
Do we need the function or can the parent just pass in whether leaving is being blocked or not? https://github.com/codeforboston/cliff-effects/pull/922#pullrequestreview-169101378

[2018-11-01 12:12] jlangevin opened #947 ".langCode incorrectly displaying in each section or localization report"
Report contains an entry like the following:
"aboutPage.langCode should exist."

`.langCode` exists as a key at the top of the localization object only.  It's being treated as if it's a key in every object.

[2018-11-01 12:17] knod commented on #947
It actually _is_ passed down to every object, it just isn't a snippet, it's meta-data, and doesn't need to be in the localization report.

[2018-11-01 15:36] jlangevin commented on #947
See PR #949 for a solution that allows coexistence of functionality without having to change the localization object mutation in interpolateSnippets().

[2018-11-01 16:55] #947 closed, assigned to jlangevin

[2018-11-01 17:32] #941 closed, assigned to knod

[2018-11-01 20:04] knod opened #952 "Client data vs. form data?"
So far, we use client data to determine what to show in the form and client data is supposed to contain just the data for the calculations. We're slowly getting into territory where we many need non-calculation crucial data in order to choose what to show in the forms.

How do we want to handle that?

[2018-11-01 20:08] knod commented on #921
Is this beginner friendly?

[2018-11-01 20:15] knod commented on #916
So one thing I've come up with that's cleaner in some ways, but more complicated in others.
We have these requirements functions:
[code]
Then we have an object which stores the state of the question, i.e. should we show it or not:
[code]
Then in the components, the questions use that object to decide whether to show themselves:
[code]
And we update `reqState` when we update state, of course.

[2018-11-01 20:26] knod commented on #916
Another option is to have the functions return components or null:
[code]
We'd use it like this:
[code]
The problem here is that we don't get to see the components in their ecosystem and we have to pass around a lot more information. We might do that through Context, but it still seems like a bit of a juggling act.

[2018-11-01 20:29] knod commented on #916
You don't really get to see what I mean about passing around props. Hmm. I'll edit that last one.

[2018-11-01 20:34] knod commented on #916
Previous couple of comments edited, though I don't think those are great examples.

[2018-11-01 21:14] knod commented on #939
So, some parameters. This is different from testing our calculations because we're not testing for changes in all kinds of behavior. This is not completely optimized for SNAP values but is a good start.

**Key:**
- Anything that is a value can stay that value always.
- Anything that is a type can vary in the ways described in comments.

[code]
Definitely feel free to ask clarifying questions becau

[2018-11-02 11:58] knod commented on #923
This looks like a duplicate, but it's not quite:

- [ ] 7. `client`

In my opinion `client` is very confusing. It sounds like it would have `earned`, `hasSNAP`, etc. straight in it, but it's actually `current` data and `future` data and _those_ have that info in them. Can we find a better way to express these? Should it be split into separate variables?

Also, see #952.

[2018-11-02 12:12] knod commented on #923
- [ ] 8. `activeBenefits` (and `benefits` in some places) - They include income, so a better name might be `resources`

[2018-11-02 12:13] knod commented on #923
- [ ] 9. `income` is sometimes used when we mean `earned` income or `pay`

[2018-11-02 12:34] knod opened #953 "Edit `AboutPage` focus"
It currently sounds like everyone hits an implicit tax over 100% (a dramatic cliff), but not everyone does. Right now, a lot of people are throwing around the idea that the safety net doesn't work. Even though it's got flaws, not every situation is a disaster.

This line has been suggested to be most problematic: “The household is working to earn more, but they end up further behind. These cliff e

[2018-11-02 13:21] knod opened #955 "Re-re-organize google folders/files...?"
I hesitate to suggest this because I don't know how to avoid the same thing happening again.

So I reorganized the google shared folder to make more sense for the project where it currently is. Then some ghost folders and files came back to life. I'm not sure which ones they are or how to get a historical view of where/when the files were to easily restore them to their beautifully organized state

[2018-11-03 00:17] knod commented on #946
Eh, it's working. We can put it on hold and close the issue for now.

[2018-11-03 00:21] knod opened #956 "New chart library/new charts"
So far two have been suggested:
1. Highcharts with a non-commercial license: https://shop.highsoft.com/faq#Non-Commercial-0
2. Chartist.js https://gionkunz.github.io/chartist-js/index.html

Highcharts looks pretty swank and quite worth checking out, imo (thanks @turnerhayes)

- [x] Line graph
- [x] Stacked area graph
- [x] Bar chart

Wanted:
1. Zooming/panning (chartjs doesn't).
2. Overlaying mult

[2018-11-03 00:54] knod commented on #946
Found what I think is a pretty quick fix for it, so I may just take a shot.

[2018-11-03 01:02] knod commented on #946
Nvm, I've been blind this whole time. This feature is being much more interesting than I thought.

[2018-11-03 01:02] #946 closed, assigned to nobody

[2018-11-03 02:18] knod commented on #956
For Highcharts, I've found:
1. https://github.com/whawker/react-jsx-highcharts
2. https://github.com/kirjs/react-highcharts

[2018-11-03 12:48] knod opened #957 "App error caused by putting number in contract rent input"
### Replicate:
1. Put a number in the contract rent input

### Result I'd Expect:
- See the number

### Actual Result:
- Get an error

### Environment:
App version or commit id at the time: cd75db67b9448f5ed476a8e83efaf6a19fe8fc03

### Other Notes
In `VisitPage`, routeList   = route.split('/') is getting an error that `route` is undefined

[2018-11-03 12:50] knod opened #958 "Invalid number message doesn't disappear for cashflow rows"
### Replicate:
1. Put a number with mutliple decimal points in a cashflow row input
2. See the invalid input message
3. Click out of the input

### Result I'd Expect:
- Message to go away

### Actual Result:
- Message stays

### Environment:
App version or commit id at the time: cd75db67b9448f5ed476a8e83efaf6a19fe8fc03

### Other Notes

[2018-11-03 12:53] knod commented on #957
My bad. I was accidentally using code I was in the middle of editing.

[2018-11-03 12:53] #957 closed, assigned to nobody

[2018-11-03 17:29] #958 closed, assigned to knod

[2018-11-03 19:08] #943 closed, assigned to knod

[2018-11-03 23:00] knod opened #961 "Different abstraction for user error/invalid messages?"
Looking at `CashFlowRow` in src/forms/cashflow.js, the place 'invalid' message has ended up seems tangled unnecessarily (mostly my doing, I suspect). I'd like to look at other ways to abstract it that make more sense.

[2018-11-04 00:45] knod opened #964 "Turn client data current benefits into a list/array of benefit names"
To be most flexible for adding future benefits, it'd work better to build a list of what benefits the person has.

[2018-11-04 02:14] knod commented on #762
New suggestion - 'Child support you are legally required to pay'

[2018-11-04 02:52] knod opened #966 "Replace _all_ `shallow()` test renderings with `mount()`"
Other than the shallow tests not catching bunches of stuff, I think we may find some things not right with our components.

[2018-11-04 02:55] knod opened #967 "'Household' section burning"
### Replicate:
1. Go to 'Household' section

### Result I'd Expect:
- No error

### Actual Result:
- Error

### Environment:
App version or commit id at the time: 71c168723255c7abb67d9d4c96573ddbb5696bbb

### Other Notes
We really have to switch to non-shallow tests. Thought I was covered on this one!

[2018-11-04 11:28] knod commented on #966
Or do `.not.Throw()` instead. One or the other.

[2018-11-05 12:11] knod commented on #929
Below is the thread from Boston JS. From what I can tell, it says yarn seem like it probably works for the p-l issue if you've got a lockfile, but
   1. It requires the whole team to have the same yarn version
   1. It's hard to make sure new members aren't using npm instead (though `.gitignore`ing the p-l helps)
   1. Some editor plugins assume you're using npm so they'll freak out if you're usin

[2018-11-05 12:18] knod commented on #929
@pporfilio found this post that seemed to solve the issue for him: https://stackoverflow.com/questions/47638381/why-did-package-lock-json-change-the-integrity-hash-from-sha1-to-sha512. It's unclear if all the commands have to be run every time, or if the npm updating can just be run once. It's also unclear whether you do really have to install a global version of npm or whether a node version mana

[2018-11-05 12:25] knod commented on #929
The folks at npm seem to have felt that at least one incarnation of this issue was solved last December: https://github.com/npm/npm/issues/17749#issuecomment-352307006. If people have trouble, they want a new issue that has something that can be reproduced (that's at the bottom of the thread).

[2018-11-05 12:31] knod commented on #929
We could also use this lib to just have a post-install hook: https://github.com/typicode/pinst. It would do `git checkout .`. A couple problems I can see:
1. It'd unexpectedly get rid of someone's changes if they forgot to stash or commit them. A possible solution is something like `git stash && git checkout . && git stash pop`, but I don't know how to make the stash pop conditional on something h

[2018-11-05 12:33] knod commented on #929
We could also create an .npmrc file and put the line `package-lock=false` in there. Hmm, that may be the best solution if it doesn't cause other issues.

[2018-11-05 12:40] knod commented on #929
So, it looks like getting rid of p-l can cause its own issues: https://github.com/npm/npm/issues/17722#issue-242057316

Namely, depending on your OS, your `npm install` can get rid of or add certain packages automatically. If we end up using one of those packages, it'd be pretty annoying - every time a person with a different OS was installing, they'd end up making a PR with a different version of

[2018-11-05 12:54] knod commented on #929
Maybe we can use the pinst package and somehow also add an npm script that bypassed it when we wanted to update the p-l? It looks like we might be able do it with something like:
[code]
I'm not sure if that would do the trick or if it would need tweaking. From the docs: https://github.com/typicode/pinst#usage

[2018-11-05 12:56] knod commented on #929
That would still leave us with the unexpected removal of changes behavior, though. Can we write a script to create a dialogue for the user that would ask them if they'd stored changes and then let them cancel the command if they need to? There must be a way.

[2018-11-05 13:02] knod commented on #956
[Using react-jsx-highcharts]

~So far, one issue with highcharts is its width is annoying. It only takes pixel or percent values. A percent value would mean us really digging deep to make sure there's a solid width property for the chart's parent container. A pixel value means less responsiveness. We can add some responsiveness back in with their responsive settings, but that's limited. We can als

[2018-11-05 13:08] knod commented on #956
[Using react-jsx-highcharts]

Things that should be dug into more:
- [x] 1. Controlling number of tick marks and points on the lines better. [Discovery: if there are too many close together, it decreases the number of them automatically.]
- [x] 2. Hover/tap to see details about a point [not completely sure about tapping]
- [x] 3. Same math/resizing problem as our current version when the time inte

[2018-11-05 21:43] knod opened #972 "Is there a way to 'redirect' before the whole VisitPage renders?"
Whenever we go to the Current Benefits section or refresh the page while in the form part of the site, it looks like the `VisitPage` might be rendering and _then_ 'redirecting' and rendering the first section. Can we intercept it before the render? The 'redirect' is currently happening in `VisitPage` in `.componentDidMount()` by replacing history.

At worst, could we just do an `if` statement to p

[2018-11-06 22:47] knod commented on #812
I think this was completed

[2018-11-06 22:47] #812 closed

[2018-11-06 23:03] #967 closed, assigned to knod

[2018-11-06 23:06] knod commented on #923
From #968 (https://github.com/codeforboston/cliff-effects/pull/968#pullrequestreview-171856875):
- [ ] `.interval` to `idSuffix` or something

[2018-11-06 23:14] turnerhayes commented on #966
I've read the opposite advice; use `shallow()` unless you need something that `shallow()` can't do. One reason for this is that it can help you avoid needing to set up context/etc. for nested components--for example, React Router's `<Link>` component requires a router in its ancestry, and will throw an error if it doesn't find it. But if you're testing a component that contains a `<Link>` but the

[2018-11-06 23:17] turnerhayes opened #974 "Remove anonymous functions from event handler props"
When your `render()` method passes an anonymous function as a prop, a new function instance will be created and that prop's value will be different every time `render()` is called, which means that React will assume it needs to refresh the tree, even if nothing has "actually" changed. This can result in unnecessary DOM manipulation.

Wherever possible, we should have the function be a member of th

[2018-11-06 23:41] turnerhayes opened #975 "Switch to component classes instead of stateless functional components?"
Wanted to bring this up for discussion; it appears that Stateless Functional components (i.e. components declared as simple functions, not classes) are not (easily) selectable in React Devtools ([intentionally](https://github.com/facebook/react-devtools/issues/1142)). The `$r` shortcut is really useful for inspecting state and props. Should we convert our components to class components?

[2018-11-06 23:44] turnerhayes commented on #975
I believe Hot Module Reloading is also not available with SFCs (although not 100% on that).

[2018-11-07 04:15] turnerhayes commented on #972
Possibly in the route callback? Something like

[code]

Haven't tried it yet.

[2018-11-07 04:20] turnerhayes commented on #972
Nope.

[2018-11-07 11:50] #945 closed, assigned to knod

[2018-11-07 12:08] knod commented on #966
I hear some of that. Can't we add context and routers to our test, though? Here's an article about shallow rendering that seemed to resonate: https://blog.kentcdodds.com/why-i-never-use-shallow-rendering-c08851a68bb7

[2018-11-07 12:36] knod commented on #975
Hot reloading is fun, it's true. Can you link to an article or two on the advantages of stateless functional components so we can weigh pros and cons?

[2018-11-07 12:45] knod commented on #972
Well, that would make it always go to the first step.

[2018-11-07 12:46] knod commented on #972
All brainstorming is good, though 👍

[2018-11-07 13:07] knod commented on #964
Btw, I think we may already have 'each' U.S. State's benefit list in the State's 'benefitOrder.js' folder(s).

[2018-11-07 13:33] #961 closed, assigned to nobody

[2018-11-07 14:48] dylanesque commented on #952
Could you elaborate on this? What is an example of crucial data that that affects form output?

[2018-11-07 14:50] dylanesque commented on #972
.....A function to prevent that default behavior? I don't know if ```preventDefault()``` could be of help here, but maybe worth looking into

[2018-11-07 14:54] dylanesque commented on #956
Is switching to a new chart library a certainty? If so, can we torch all/most of the old issues related to charting?

[2018-11-08 01:24] knod commented on #952
One example is the 'other expenses' questions we've partially implemented. It doesn't affect benefit calculation results, it just affects what the form shows at the end.

[2018-11-08 01:26] knod commented on #972
It's not an event in the DOM like that. I think we may have it licked with a recent PR, though. I've linked that PR to this issue now. Weird that it wasn't automatically linked before.

[2018-11-08 01:26] knod commented on #956
If/when we do switch, we can torch whatever's no longer relevant 👍

[2018-11-08 01:54] knod commented on #939
So it might be the case that there are no cliffs in SNAP since 2016. We may want to consider that.

As a side note, I think disabled and elderly might work out to be the same thing.

[2018-11-08 15:57] knod commented on #929
In #977, Travis had issues because the package.json and the p-l.json were not in sync with each other. That needs to be kept in mind as we move forward.

[2018-11-08 17:36] knod commented on #41
Relevant/related issues:
#397, #402, #403

[2018-11-09 13:16] knod opened #982 "Allow each U.S. State to use its own money rounding"
Right now there's one utils function for rounding money, but I _think_ each State chooses its own way to round money. It's possible it's not even that simple - it may be per State per program or per circumstance - but it might be necessary to abstract the operation and we can start by doing it for the States.

[2018-11-09 13:25] knod opened #983 "Warn coders when they have the the wrong version of node/npm"
As discussed in #979.

[2018-11-11 00:02] #972 closed, assigned to knod, turnerhayes

[2018-11-11 00:04] #931 closed, assigned to nobody

[2018-11-11 01:44] turnerhayes opened #986 "Refactor `sharedProps` prop in src/forms/CurrentExpenses.js"
#965 uses a prop called `sharedProps` for several components; this should be separated out into the specific props each component needs.

[2018-11-11 01:46] knod commented on #986
Could you add an example of how it would look where it's separated?

[2018-11-11 02:12] knod opened #987 "Explore 'lint-staged' some more with new insights"
Previous behavior was as such:
1. Some old files that had already been merged weren't linted
1. Some other files were edited and `git add .`ed
1. Ran `git commit`
1. Staged files were linted and added
1. Old unlinted, unstaged files had unstaged changes in them - they were linted, but not added

Current behavior is:
1. `git add .`
1. `git commit`
1. Files were committed, but
1. there are new linti

[2018-11-11 02:44] dylanesque commented on #975
I'm a little skeptical, this seems like a lot of refactoring for what strikes me as a minor convenience for developers. IIRC, quite a few of the components in the app are SFCs already.

[2018-11-11 02:46] #964 closed, assigned to turnerhayes

[2018-11-11 02:48] knod opened #989 "MA benefits stored in wrong order"
Eh, I know what the problem is.

[2018-11-11 02:48] #987 closed, assigned to turnerhayes

[2018-11-11 03:43] #989 closed, assigned to knod

[2018-11-11 18:49] #899 closed, assigned to nobody

[2018-11-11 20:53] knod opened #991 "Freeze objects that really do need to keep their values the same"
Like data from programs, non-clone clients, etc.

[2018-11-12 01:09] turnerhayes commented on #986
For example, the `<Under13>` component takes a `sharedProps` parameter. The format of that appears to be (looking where it's used):

[code]

So instead of having the `Under13` component be declared as

[code]

it could be

[code]

The code that uses `<Under13>` could do

[code]

The advantage of this approach is that it's clearer what `Under13` expects as its props, rather than having to inspect t

[2018-11-12 01:14] turnerhayes commented on #983
When do we want to warn them?

- Pre-commit?
- Pre-lint?
- Pre-test?
- Post- or pre-install?

More? All of the above?

[2018-11-12 01:18] turnerhayes commented on #983
FWIW, I have used [React Boilerplate](https://github.com/react-boilerplate) on other projects, and it has an analogous functionality (except it's for `npm` and not `node`--something we may want too?), and it appears it runs it pre-install (see the `npmcheckversion` script in its [package.json](https://github.com/react-boilerplate/react-boilerplate/blob/master/package.json)). Not saying this is can

[2018-11-12 01:20] knod commented on #986
That's strange that `updateClientValue` and `type` are redundant in the shared props. I'll definitely think about it and other folks can as well, and look at how all those properties are being used in the code. I can see discussing some pros of a `sharedProps` object if it's used well, but this may or may not be the place for it.

[2018-11-12 01:26] knod commented on #983
If your versions of node/npm affect how things are installed, which I assume they do, I'd think pre-install would be ideal. I welcome other thoughts, though.

Thanks for linking to React Bolierplate. It'll make it easier for those unfamiliar (including me) to take a look to allow for a somewhat more educated discussion.

[2018-11-12 01:33] knod commented on #983
In the PR, @turnerhayes asks:

[2018-11-12 01:34] knod commented on #983
Hmm, don't know enough about node/npm. I'd say just warn on a difference that has the potential to create problems, no?

[2018-11-12 14:22] knod commented on #956
Items that are and can be done with the new Highcharts lib for the Benefits Lines graph:
- [x] Bottom/left ticks' number format (labels headers!) (https://stackoverflow.com/a/26128177/3791179)
- [x] Fixed width for ticks' text - width to not change on interval change
- [x] Thousands separator
- [x] Bottom tooltip's number format ~(maybe the same thing as ticks)~
- [x] Snippets
- [x] Button placeme

[2018-11-12 14:25] knod commented on #956
Looks like @wacii will cover the tests later this week, so those aren't for #984 either.

[2018-11-13 12:21] knod opened #993 "If/when #984 merged, update google translation docs"

[2018-11-14 01:04] #940 closed, assigned to nobody

[2018-11-14 01:40] ValerieKenyon opened #997 "Possible redundant keys in Predictions (see PR #996)"
As I was updating de.js, I noticed the following. I'm giving you all the relevant lines from en.js:
'Changes Chart' seems to have 2 keys, on lines 266 and 315
'Stacked Incomes' seems to have 2 keys, on lines 267 and 318
This may also be an issue for 'Changes' on lines 265 and 302
If we have redundant keys, it probably won't affect anything.  But maybe another, more experienced person should take a

[2018-11-14 23:46] #983 closed, assigned to knod, wacii, turnerhayes, jlangevin, dylanesque

[2018-11-15 00:19] #953 closed, assigned to KrishnaRSampath, anhase, knod, justinqtaylor

[2018-11-15 13:27] knod commented on #923
- [ ] `toFancyMoneyStr` really isn't descriptive. It turns a number into a currency string, though right now it only makes US dollars. Not sure how to dance with that one.

[2018-11-15 13:48] knod commented on #923
- [ ] `toMoneyStr` also isn't descriptive. I'm not sure what else to call it. It takes a number, adds to decimal points if needed, otherwise rounds a number to the first two decimal points, then returns a string of that. It's basically just a wrapper for `.toFixed(2)`, but means we don't have to remember that functionality everywhere.

[2018-11-17 02:19] turnerhayes opened #999 "Persist loaded client"
Allow loaded clients to be persisted locally for a time so that developers don't have to copy and paste clients into the HUD each time they reload

[2018-11-17 12:12] knod commented on #999
Should have a time limit or something so the data isn't kept around indefinitely.

[2018-11-18 13:52] knod opened #1001 "Fix about page link to inaccurate reference"
We were told at least one of our links is to a document with inaccurate data, specifically about SNAP income asset limits. We need to remove that link and remind folks that this info can get out of date.

[2018-11-18 17:19] #1001 closed, assigned to knod

[2018-11-19 11:47] knod opened #1003 "Set smaller interval for x-axis of charts"
In the future, we may be able to take this away, but for now, to be able to show some of the sample data we have properly, we need to remove the `* 30` from the `interval` amount.

[2018-11-19 12:16] knod opened #1004 "Clean up old chart stuff"
Now the old charts are gone, we need to get rid of files and libraries, change and skip tests, and generally neaten up.

[2018-11-20 16:53] #1003 closed, assigned to knod

[2018-11-20 17:11] knod opened #1007 "Zooming on chart that keeps right proportions for graph"
Right now the zooms on the line and area graphs warp stuff.

Current plan of attack:
- [ ] Click to zoom in a hard-coded amount.
- [ ] Make zoom centered on the point that was clicked.
- [ ] Mouse as magnifying glass.
- [ ] Mouse as hand when 'alt' is down.

[2018-11-21 11:51] knod opened #1009 "Implement tests for all new graphs/charts"
Maybe the items in #956 are a good guide for what we want to make sure of.

[2018-11-21 11:53] knod commented on #956
- [ ] When zooming maxes out (based on x-axis intervals), tell the user and prevent further zooming.

[2018-11-22 02:00] #956 closed, assigned to knod, wacii

[2018-11-22 16:23] #1007 closed, assigned to knod

[2018-11-22 18:36] knod opened #1010 "Abstract chart/graph commonalities (in same dir as chart files)"

[2018-11-22 18:37] knod opened #1011 "Hover styles for graph items?"
- [ ] Hover style for legend items (button-like style always, then different for active vs. inactive?)
- [ ] Hover style for plot line. Has a mousein and mouseout hook we can use to make it bigger when hovered over.

[2018-11-22 18:40] knod opened #1012 "Toggle visibility of `PlotLine` in/near `Legend` (graphs/charts)"
Add PlotLine to/near Legend so it can be toggled? Haven't found it yet and can't seem to do a vertical series and horizontal one at the same time. Add/remove PlotLine (can add button to legend?) - https://stackoverflow.com/a/14632292/3791179.

[2018-11-22 21:12] knod opened #1013 "Possible small chart/graph adjustments"
- [ ] Bigger font?
- [ ] Different zoom/pan note for touch device

[2018-11-22 21:15] knod opened #1014 "Graph vertical panning"
Haven't found any in-built solutions, which is kind of crazy. Only being able to pan horizontally makes no sense to me. Such is the way.

This might help, but means chart may have set dimensions: https://api.highcharts.com/highcharts/chart.scrollablePlotArea. Not sure how it would act with zoom.

Other options are to just roll out our own thing where we figure out the scrolling delta and change th

[2018-11-24 19:01] knod opened #1018 "Clean up code style stuff throughout the app"
We'll use our current understanding of the code style for now. Further discussions can be had if needed, but they'll be saved for future changes.

Maybe we can use this opportunity to make an explicit style guide.

Assume '/src' comes before all these directories. Some directories still need to be broken up into smaller chuncks.

- [x] /components
   - [x] /dev for @knod
   - [x] /prompts for @kno

[2018-11-25 01:24] turnerhayes opened #1019 "Finish renaming `snippets` to `translations`"
#1015 got most of the places but there are still a few stragglers; search for `snip` (case insensitive) to find some.

[2018-11-25 01:31] knod commented on #1019
There's also a couple files where I shortened it to `sn` because everything was taking up so much space that I just lost it. It might just be '/src/forms/output/Summary.js'.

[2018-11-25 01:37] turnerhayes commented on #1019
I think I got those in #1015--do you still see them?

[2018-11-25 01:45] turnerhayes commented on #991
There is an implementation of a `deepFreeze` function that has since been deleted from the codebase since it's not being used anymore, but it's still visible [here](https://github.com/turnerhayes/cliff-effects/blob/e1ac7d0dd20568a5eb575130a8730fdc098ffe94/src/dev/deepFreeze.js) if whoever takes this on wants to use or adapt it. That function returns a frozen clone of the object passed in, rather t

[2018-11-25 01:55] knod commented on #1019
Wow, didn't see that. I think you got 'em all, pokemaster.

[2018-11-25 01:58] #1019 closed, assigned to turnerhayes

[2018-11-25 02:05] knod commented on #936
Closed by #1020

[2018-11-25 02:05] #936 closed, assigned to turnerhayes

[2018-11-25 02:38] turnerhayes opened #1022 "Use string literals for string React props"
As brought up [here](https://github.com/codeforboston/cliff-effects/pull/1017#discussion_r236058599), do we want to use `propName="propValue"` for string React props, or continue using ```propName={ `propValue` }```? Or something else entirely?

[2018-11-28 00:40] #1004 closed, assigned to knod

[2018-11-28 00:52] #999 closed, assigned to turnerhayes

[2018-11-28 01:39] eric-s-s opened #1029 "income >= 100,000"
### Replicate:
1. Go to predictions
2. enter income >= 100,000
3. click on stacked income tab
4. bathe in the warm glow of an error message

### Result I'd Expect:
- a nice graph

### Actual Result:
- an error

### Environment:
Operating system and version: ubuntu 18.something
Browser type and version: chrome Version 70.0.3538.110 (Official Build) (64-bit)

[2018-11-28 22:45] knod commented on #1029
As discussed, this may not be a pressing problem, but it'll be on the backlog. Thanks for writing this up!

[2018-11-28 22:50] knod commented on #1029
Also, this is just logic, though it's a bit buried. Feel free to assign this issue to yourself if you want to go spelunking! Btw, both the last two charts should have this problem.

[2018-11-29 04:42] eric-s-s commented on #1029
This may have been resolved on the dev branch. when i ran that on my computer, i did not have this issue.  hmmm.  i'll get around to this, just not sure when.

[2018-11-29 14:02] knod commented on #1029
Intriguing!

[2018-11-29 20:36] knod opened #1030 "Check CurrentBenefits sorting. Needs `.current`?"
It hasn't hurt us yet, but we only have two programs so we may just be lucky.

[2018-12-01 20:16] knod commented on #916
Alternative option - each client property has a side-effects function. We could have an object keeping track of what objects are show. The side-effects could be used to determine which questions are shown and update the object.

[2018-12-01 20:17] knod commented on #916
Alternative option - each client property has a side-effects function. We could have an object keeping track of what questions are shown. The side-effects could be used to update the object.

[2018-12-02 00:27] turnerhayes opened #1033 "Remove unused component RowWithDetail"
The component `RowWithDetail` in `src/components/details.js` is empty and not used anywhere in the code (as far as I can tell). We should remove it.

[2018-12-05 21:52] knod commented on #1030
We figured out this was just a bit of code/naming confusion. All set.

[2018-12-05 21:52] #1030 closed, assigned to nobody

[2018-12-07 23:47] #892 closed, assigned to pporfilio, josephdlawson21

[2018-12-08 15:03] #762 closed

[2018-12-12 14:06] knod opened #1050 "charts: zoom out"
Zoom out feature (with 'shift'?) for line graphs. Must stop when fully zoomed out.

[2018-12-17 13:38] #1010 closed, assigned to knod

[2018-12-30 18:35] knod commented on #929
We currently don't have a solution for this, so I'm closing it. We've had fewer problems with fewer carets and hopefully that will be enough.

[2018-12-30 18:35] #929 closed, assigned to nobody

[2018-12-30 18:44] knod commented on #167
I think we'll have to make more specific issues than this to move forward on it. I think the 'refactoring' project may cover the same goal.

[2018-12-30 18:44] #167 closed

[2018-12-31 00:29] knod commented on #402
Not sure this would actually be useful. The community we're hoping to develop this tool with hasn't shown much interest in those graphs and I'm not sure there's value in the information we could present there that isn't already fulfilled more effectively by the stacked area graph.

[2018-12-31 00:53] knod commented on #403
This question seems relevant for #419 also, so I'm folding it in. It's a bit different, but has the same pros and cons - closer picture of this particular circumstance vs. more accurate view of the picture in context (bar graph: context of full amount of income, line graphs: context compared to the 'story' of other demographics). The text from #419:

[2018-12-31 00:53] knod commented on #419
Folded into #403

[2018-12-31 00:53] #419 closed

[2018-12-31 00:56] knod commented on #446
Hmm, I think the 'testing' project is a good place to keep the link to the doc and issues could contain more specific tests.

[2018-12-31 00:56] #446 closed

[2018-12-31 00:59] knod commented on #546
For now, we've done what work we can while keeping the time interval buttons. We've attempted to make adjustments for different screen sizes. Those measures will have to be re-done if layout changes because there doesn't seem to be a reasonable way to add buttons to the Highcharts element itself, but until some method for that becomes clear this is the best we can do.

[2018-12-31 00:59] #546 closed

[2018-12-31 01:06] knod commented on #751
This actually seems like it might be an artifact of using a form as a middleman between our code and the google sheets. Might be worth trying this instead: https://medium.com/@dmccoy/how-to-submit-an-html-form-to-google-sheets-without-google-forms-b833952cc175

[2018-12-31 01:09] knod commented on #738
I think we may be pre-optimizing here. It may be worth seeing what kind of feedback we get from our users before making changes. If we do need this fix, it should be fairly simple to change the size of the font.

[2018-12-31 01:09] #738 closed

[2018-12-31 01:09] knod commented on #689
With some math and the new chart lib, we're all set on this! Huzzah!

[2018-12-31 01:09] #689 closed

[2018-12-31 01:11] knod commented on #821
I think this may have been completed, or mostly so, in subsequent cleanups. We'll keep our eye out for more and keep working on updating the docs in the previous issue.

[2018-12-31 01:11] #821 closed

[2018-12-31 12:44] knod commented on #842
We never heard back about this, so we'll have to close this one down for now.

[2018-12-31 12:44] #842 closed

[2018-12-31 13:09] knod commented on #908
At some point we made a discovery about what was going on [with 'lint-staged']. If anyone can remember it, hit me up so we can put it in here.

[2018-12-31 13:18] knod commented on #916
Btw, each State might need to be containing their own code for the form sections considering how different it can be per State. We can't know how much code really needs to be in each State, though, until we get some experts on hand. Add it to the wishlist!

[2019-01-01 17:30] knod commented on #917
Retiring this. When needed, we can make more specific issues.

[2019-01-01 17:30] #917 closed, assigned to nobody

[2022-01-30 06:08] shaunpurslow commented on #1033
I can take care of this